@keyframes colorblink {
    0%{color:red;}
    50%{color:blue;}
    100%{color:white;}
}

@font-face{
    font-family:DinoMiko;
    src:url("../FONTS/Dinomiko.otf");
}
body{
    font-family: DinoMiko, Tahoma, Geneva, Verdana, sans-serif;
    background-color: #F9DFF1; /*rose clair*/
    color:#362909;
    text-align:justify;
}
.logo{
    height:110px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:50px;
}

.menu{
    text-align:center;
    background-color: #B50E80;
    height:40px;
    padding-top:10px;
}

.menu a {
    text-decoration:none;
    color:#FDBC1A;
    font-size:1.4em;
}

.menu a:hover{
    border-bottom:solid #FDBC1A 2px;
}

.menu .icon{
    vertical-align:text-bottom;
    margin-left:15px;
    margin-right:7px;
}
.presentation{
    margin-left:10px;
    font-size:1.2em;
}

.icon{
    width:20px;
    height:20px;
}

.separator{
    border:solid black 1px;
    margin-left:10px;
    margin-right: 10px;
}

.marked{
    font-size: 1.2em;
    text-decoration:underline;
    font-style: italic;
    animation: colorblink 0.2s infinite;
}

.float{
    float:right;
}

#float{
    float:right;
    padding-top: 6px;
    padding-right: 3px;
}

.beaute{
    float:left;
    width:100px;
    margin-left: 300px;
}
.beaute1{
    float:right;
    width:100px;
    margin-right:300px;
}

.help{
    background-color:#46917A;
    position:absolute;
    padding:5px;
    bottom:10px;
    right:45px;
    border-radius: 5px;
}

.help_head{
    position:absolute;
    margin-left:2px;
    vertical-align: middle;
    width:30px;
    height: 30px;
    right: 10px;
    bottom:10px;
    
}
/* CONFIG MENU HORIZONTAL SIMPLE LIGNE
.menu{
    background-color: aquamarine;
    padding-top:20px;
    text-align:center;
    padding-bottom:29px;
}

.menu a{
    margin-left:5px;
    margin-right:5px;
}*/